<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298546320543-1co9s4700d9jsegm1ire30q2u3hk7evf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298546320543-1co9s4700d9jsegm1ire30q2u3hk7evf</string>
	<key>API_KEY</key>
	<string>AIzaSyBEH3EqA9Bf6EsRAWfADJhkmRwV_rwS2sU</string>
	<key>GCM_SENDER_ID</key>
	<string>298546320543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cruze</string>
	<key>PROJECT_ID</key>
	<string>cruzewaitlist</string>
	<key>STORAGE_BUCKET</key>
	<string>cruzewaitlist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298546320543:ios:9a80a600791c50f5a8feaa</string>
</dict>
</plist>